body {
    /* text-align: center; */
    background: rgb(167,69,205);
    background: -moz-linear-gradient(333deg, rgba(167,69,205,1) 7%, rgba(68,223,32,0.773546918767507) 55%, rgba(32,129,223,1) 100%);
    background: -webkit-linear-gradient(333deg, rgba(167,69,205,1) 7%, rgba(68,223,32,0.773546918767507) 55%, rgba(32,129,223,1) 100%);
    background: linear-gradient(333deg, rgba(167,69,205,1) 7%, rgba(68,223,32,0.773546918767507) 55%, rgba(32,129,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a745cd",endColorstr="#2081df",GradientType=1);
    background-repeat: no-repeat;
    font-family: 'Quantico', sans-serif;
}

#gameboard {
    display: absolute;
    /* flex-wrap: wrap; */
    width: 900px;
    height: 600px;
    /* font-size: 118px; */
}

.box {
    display: relative;
    background-color: purple;
    border: powderblue 1px solid;
    width: 300px;
    height: 300px;
    margin: -3px -2px;
    display: inline-block;
}


#reset {
    font-family: 'BenchNine', sans-serif;}